img {
    max-width: 100%;
    height: auto;
}

body {
    margin: 20px;
}

#acceuil > p.flotte > img:nth-child(1) {
    float: left;
    margin: 0 27px 20px 0;
}

h1 {
    margin-top: 10vh;
}

.flotte {
    margin-bottom: 35vw;
    margin-left: 18px;
}

.menu-test {
    margin-left: 67px;
}

#acceuil > img {
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.tweet {
    text-align: center;
}

.bouton {
    margin: 15px 0 60px 0;
}

.line-vert-droite {
    position: absolute;
    right: 0;
    bottom: 10vw;
}

#article1 > img:nth-child(5) {
    position: absolute;
    right: 0;
    bottom: 20vw;
}

#article1 > p,
#article2 > p {
    margin-right: 13px;
    margin-left: 16px;
}

.bouton-article {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20vw;
    margin-top: 10vw;
    display: block;
}

#article1 > p:nth-child(16) {
    margin-top: 82vw;
}