body {
    background-image: url("../../img/fond-site.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: black;
}

.footer {
    padding: 0;
    background-color: #515151;
    border-bottom-width: 0;
    margin-bottom: 0;
}


