img {
    max-width: 100%;
    height: auto;
}

body {
    background-image: url("../../img/fond-site.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: black;
}

.fond-vert {
    background-image: url("../../img/rect-vert.svg");
}


